.brand-list {
    margin-top: 4rem !important;
}

.brand-list .card {
    padding: 0;
}

.search {
    background-color: #000731;;
    position: fixed;
    font-size: 2.5rem;
    border: 0;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1;
    color: #fff;
}
.search::placeholder{
    color: #aaa;
}

/*.search:focus {*/
    /*border-bottom: 1px #9699a8 solid;*/
/*}*/