$blur: 10px;
.bg-repeater {
  position: absolute;
  top: -#{$blur};
  bottom: -#{$blur};
  right: -#{$blur};
  left: -#{$blur};
  z-index: -1;
  filter: blur($blur) grayscale(.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}