.back-btn{
    padding: 1rem;
    background-color: white;
    color: black;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    border-radius: 2rem;
    z-index: 999;
    opacity: .7;
    transition: opacity ease .5s;
}

.back-btn:hover{
    text-decoration: none;
    color:black;
    opacity: 1;
}