.container-fluid {
    padding: 0;
}

.main-container {
    justify-content: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

@media (max-width: 576px) {
    .main-container {
        justify-content: start;
    }

}

.fader {
    transition: all ease .5s;
    opacity: 0;
    transform: translateY(100px);
}

.fader.in {
    opacity: 1;
    transform: translateY(0px);
}

.opac {
    transition: opacity ease .5s;
    opacity: 0;
}

.opac.in {
    opacity: 1;
}