@font-face {
  font-family: 'BMW';
  src: url(../fonts/BMWTypeWebLight.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'BMW';
  src: url(../fonts/BMWTypeWebBold.woff2) format("woff2");
  font-weight: bold;
}

$bmw-blue: rgb(28, 105, 212);
$bmw-gray: rgb(142, 142, 142);

body.bmw {
  font-family: 'BMW', serif;
  &:before {
    $logo_height:115;
    $logo_width:103;
    content: "";
    height: #{$logo_height}px;
    width: #{$logo_width}px;
    position: fixed;
    right: 1rem;
    top: 0rem;
    background: url('https://www.bmw.ru/content/dam/bmw/marketRU/bmw_ru/images/id-module/_ID_logo_BMW_White.png.asset.1517960524986.png') no-repeat center;
    background-size: cover;
    z-index: 999;
    @media (max-width: 756px) {
      height: #{$logo_height/1.5}px;
      width: #{$logo_width/1.5}px;
    }
  }

  .card {
    $border: rgba($bmw-gray, .5) 1px solid;
    background-color: white;
    &:hover {
      .card-title:after {
        height: 5px;
      }
    }
    .card-title {
      position: relative;
      background-color: white;
      font-weight: bold;
      color: black;
      padding: 0;
      span {
        padding: 0 1rem 5px 1rem;
      }
      &:after {
        transition: all .3s ease;
        position: absolute;
        bottom: 0;
        content: "";
        height: 0px;
        display: block;
        width: 100%;
        background-color: $bmw-blue;
      }
    }
  }

  .modal-content {
    .btn {
      border-radius: 0;
      font-weight: bold;
      padding: .5rem 2rem;
      background-color: $bmw-blue;
      border-color: $bmw-blue;
      &:focus, &:active, &:hover {
        background-color: $bmw-blue;
        border-color: $bmw-blue;
      }
      &:focus, &:active {
        box-shadow: 0 0 0 0.2rem rgba($bmw-blue, .25) !important;
      }
    }
  }

  .back-btn {
    border-radius: 0;
    font-weight: bold;
    padding: .5rem 2rem;
    background-color: $bmw-gray;
    color: white;
  }
}