@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic');

*{
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: #666;
}

a,.pointer{
  cursor: pointer;
}