.gen .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.gen .card-body{
    padding: 0;
}

.gen .card-title{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 30%;
    width: 100%;
    bottom: 0;
    margin: 0;
    color:white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}
